@media all and (max-width:800px){

    /*   MENU-RESPONSIVE   /////////////////////////////////////////////////////////////////*/
    
    .menu-responsive{ 
        width:100%;
        top:0;
        height:60px;
        background:pink;
        position:absolute;
        display:flex;
        justify-content: space-between;
        align-items: center;
        z-index:6;
        position:fixed;
    }
    .menu-responsive>h1{
        color:white;
        font-size:30px;
        padding-left: 10px;
        padding-top: 10px;
    }
    .menu-responsive>i{
        color:white;
        font-size:30px;
        padding-right:10px;
    }
    .menu-responsive>i:hover{
        cursor:pointer;
    }

    /*   TOP   /////////////////////////////////////////////////////////////////*/

    .top-container{
        margin-top:60px;
    }

    /*   MENU   /////////////////////////////////////////////////////////////////*/

    /* menu container */ 

    nav{
        position:fixed;
        left:-100%;
        top:60px;
        height:calc(100vh - 60px);
        overflow:scroll;
    }
    nav>div{
        height:100%;
        margin-top:1cm;
    }
    .menu{
        float:none;
        width:100%;
        overflow:scroll;
    }
    .menu>div{
        display:block;
    }

    /* textos */
    .menu>div>div>a{
        font-size: calc(1vw + 13px);
    }
    /* flechas menu */
    .arrow-down-sub-menu1{
        display:block;
    }



    
    /*   SUB-MENU1   ///////////////////////////////////////////////////*/

    .sub-menu1{
        width:100%;
        position:relative;
        visibility:visible;
        display:none;
        border-radius: 0px;
        border:none;
    }
    /* textos */
    .sub-menu1>li>div{
        height:1cm;
        line-height:1cm;
    }
    .sub-menu1>li>div>a{
        font-size: calc(1vw + 15px);
    }
    .sub-menu1>li>div>img{
        font-size: calc(1vw + 15px);
    }
    /* flechas submenu1 */

    .down1 , .down2 , .down3 , .down4 , .down5 , .down6{
        display: block;
        position:absolute;
        right:0;
        padding-right:5px;
        font-size:calc(1vw + 25px);
        top:0px;
        color:white;
    } 


    /* sub-menu-1-INDICE */

    .sub-menu1>li>ul{
        width:100%;
        position:relative;
        left:0;
        background:violet;
        border:none;
        border-radius:0;
        visibility:visible;        
    }
    .sub-menu1-1 , .sub-menu1-2 , .sub-menu1-3 , .sub-menu1-4 , .sub-menu1-5 , .sub-menu1-6{
        display:none;
    }

    .sub-menu1>li>ul>div>a{
        font-size:calc(1vw + 15px);
        color:white;
    }
  


    /*   NOM   ///////////////////////////////////*/

    .nom{
        float:none;
        width:100%;
        height:1cm;
        padding:5px 0px;
    }
    .nom>li>h1{
        font-size:calc(1vw + 25px);
    }

    /* clase para agregar con javascript */

    .show{
        display:block;
    }
    .remove{
        display:none;
    }




    /*   FOOTER   /////////////////////////////////////////////////////////////////*/
    .footer-container{
        margin-top:4cm;
        justify-content: none;
        display:block;
    }
    .footer-container>div{
        margin-top:0cm;
        margin-bottom:0cm;
        padding: 1cm 0;
        float:none;
        width:100%;
    }

    .footer-container>div>h1{
        font-size: calc(1vw + 17px);
    }
    .footer-preguntas>li>a{
        font-size: calc(1vw + 12px);
    }
    .footer-redes>form>button{
        font-size: calc(1vw + 14px);
    }
    

    /* BOTTOM-FOOTER */

    .bottom-text>h1{
        padding:9px 0px;
        font-size:calc(1vw + 7px);
    }

}


@media all and(max-width:400px){

    /*   MENU   /////////////////////////////////////////////////////////////////*/





    /*   FOOTER   /////////////////////////////////////////////////////////////////*/
    
    .footer-redes>div>a>i{
        font-size: calc(1vw + 15px);
        padding:10px;
    }
    
    .footer-container{
        margin-top:10cm;
    }

}